.progress-track {
  &__time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    color: #009dfb;
    margin-bottom: 4px;
  }

  &__time-progress {

  }

  &__time-total {
    
  }

  &__bar {
    height: 4px;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }

  &__progress-bar {
    position: absolute;
    height: 100%;
    width: 4%;
    background-color: #04a1fb;
  }

  &__progress-bar-hover {
    position: absolute;
    height: 100%;
    width: 0;
    background-color: rgba(#3b3d50, 0.4);
  }

  &__progress-bar-hover-time {
    position: absolute;
    height: auto;
    left: -22px;
    bottom: 8px;
    transform: translateX(0);
    background-color: #3b3d50;
    font-size: 14px;
    padding: 4px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity ease 0.2s;
  }
}