:root {
  --color-text: #606060;
  --primary-color: red;
  --secondary-color: blue;
}


// Vars media queries
$min-xs: 'min-width: 568px';
$min-sm: 'min-width: 768px';
$min-md: 'min-width: 992px';
$min-lg: 'min-width: 1200px';

$max-xs: 'max-width: 567px';
$max-sm: 'max-width: 767px';
$max-md: 'max-width: 991px';
$max-lg: 'max-width: 1199px';